// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

$mod-backdrop-color: #000;
$mod-backdrop-opacity: .5;

$mod-bg-color: rgba($color-blue, .95);
$mod-color: #fff;
$mod-color-header: #fff;
$mod-border-outer: none;
$mod-border-header: none;
$mod-border-footer: none;

$mod-padding-header: 2em 2em 1em;
$mod-padding-body: 1em 2em 2em;
$mod-padding-footer: 1em 2em 2em;

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;  
  outline: 0;
  
  p{
    margin-top: 0;
  }

  &.fade .modal-dialog {
    transition: transform ease-out .3s ;
    transform: translate(0, -25%);
  }
  &.show .modal-dialog { transform: translate(0, 0); }
  
  &-tbl{
    display: table;
    width: 100%;
    height: 95%;   
  }

  &-dialog{
    position: relative;
    width: auto;    
    padding: 2em;   
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-width: 100vw;
    @include landscape() {
      padding: 1em;
    }
    @include max-portrait(767px){
      padding: 0;
    }
  }

  &-content{
    position: relative;
    margin: 0 auto;
    text-align: left;
    color: $mod-color;    
    background-color: $mod-bg-color;
    background-clip: padding-box;
    border: $mod-border-outer;        
    box-shadow: 0 0px 30px rgba(#000,.5);    
    outline: 0;

    @include min-screen(1200px) {
      max-width: 80vw;
    }
    
  }
  .close{    
    display: inline-block;
    position: absolute;    
    // top: 2em;
    // right: 2em;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 1.5em;
    line-height: 1em;
    @include min-screen(768px){
      font-size: 2em;
    }
    @include max-landscape(1024px){
      font-size: 1.5em;
    } 

    span{
      display: inline-block;
      font-family: 'Tahoma', sans-serif;
      // font-size: 1.5em;
      font-weight: 300;
      line-height: 1px;      
      // line-height: 1em;      
      // @include min-screen(768px){
      //   font-size: 2em;
      // }
      // @include max-landscape(1024px){
      //   font-size: 1.5em;
      // }
    }    
    width: 1.5em; 
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;

    background-color: none;
    outline: 0;
    cursor: pointer;
    color: #ccc; 
    
    transition: transform .3s ease-in-out;    
    &:hover{
      transform-origin: center center;
      transform: rotate(90deg);      
    }
    // @include max-landscape(1024px){
    //   top: 0.5em;
    //   right: 0.5em;
    // }
    // @include max-portrait(767px) {
    //   top: 1em;
    //   right: 1em;
    // }
  }
  
  // Заголовок
    &-header {            
      color: $mod-color-header;
      padding: $mod-padding-header;
      border-bottom: $mod-border-header;
      position: relative; 
      @include max-landscape(1024px){
        padding: 1em 1em 0.5em;
      }      
      @include max-portrait(767px){
        padding: 1em;
      }     
    }

      &-title {        
        margin: 0;
        line-height: 1em;        
        font-size: 2em; 

        text-transform: uppercase;
        @include max-screen(768px){
          font-size: 1em;
        }
        @include min-portrait(768px){
          font-size: 2em; 
        }
        @include max-portrait(767px){
          font-size: 1.5em; 
        }       
      }      

  // Тело
    &-body {
      position: relative;            
      padding: $mod-padding-body;
      @include max-landscape(1024px){
        padding: 0.5em 1em 1em;
      }      
      @include max-portrait(767px){
        padding: 1em;
      }
    }

  // Подвал
    &-footer {      
      padding: $mod-padding-footer;
      border-top: $mod-border-footer;
      text-align: right;
      // Easily place margin between footer elements
      > :not(:first-child) { margin-left: .25rem; }
      > :not(:last-child) { margin-right: .25rem; }
    }
  
  // Подложка
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $mod-backdrop-color;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $mod-backdrop-opacity; }
  }

}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
