// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

$mod-backdrop-color: #66216a;
$mod-backdrop-opacity: .7;

$mod-bg-color: rgba(102, 33, 106, .95);
$mod-color: #fff;
$mod-color-header: #fff;
$mod-border-outer: none;
$mod-border-header: none;
$mod-border-footer: none;

$mod-padding-header: 20px;
$mod-padding-body: 20px;
$mod-padding-footer: 20px;

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 161px;
  // top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  // overflow: hidden;  
  outline: 0;

  
  p{
    margin-top: 0;
  }

  &.fade .modal-dialog {
    transition: transform ease-out .3s ;
    transform: translate(0, -25%);
  }
  &.show .modal-dialog { transform: translate(0, 0); }
  
  &-tbl{
    display: table;
    width: 100%;
    height: 95%;   
  }

  &-dialog{
    position: relative;
    width: auto;    
    padding: 2em;   
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-width: 100vw;
    @media only screen and (max-width: 320px) {
      padding: 0;
    }
    // @include landscape() {
    //   padding: 1em;
    // }
    // @include max-portrait(767px){
    //   padding: 0;
    // }
  }

  &-content{
    position: relative;
    margin: 0 auto;
    text-align: left;
    color: $mod-color;    
    background-color: $mod-bg-color;
    background-clip: padding-box;
    border: $mod-border-outer;        
    box-shadow: 0 0px 30px rgba(#000,.5);    
    outline: 0;

    width: 320px;

    // @include min-screen(1200px) {
    //   max-width: 80vw;
    // }
    
  }
  .close{    
    display: inline-block;
    position: absolute;    
    // top: 2em;
    // right: 2em;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-size: 1.5em;
    line-height: 1em;
    // @include min-screen(768px){
    //   font-size: 2em;
    // }
    // @include max-landscape(1024px){
    //   font-size: 1.5em;
    // } 

    span{
      display: inline-block;
      font-family: 'Tahoma', sans-serif;
      font-weight: 300;
      line-height: 1px;      
      
    }    
    width: 20px; 
    height: 20px;
    line-height: 20px;
    text-align: center;

    background-color: none;
    outline: 0;
    cursor: pointer;
    color: #fff; 
    
    transition: transform .3s ease-in-out;    
    &:hover{
      transform-origin: center center;
      transform: rotate(90deg);      
    }
  }
  
  // Заголовок
    &-header {            
      color: $mod-color-header;
      padding: $mod-padding-header;
      border-bottom: $mod-border-header;
      position: relative; 
      // @include max-landscape(1024px){
      //   padding: 1em 1em 0.5em;
      // }      
      // @include max-portrait(767px){
      //   padding: 1em;
      // }     
    }

      &-title {        
        margin: 0;
        line-height: 1em;        
        font-size: 20px; 

        text-transform: uppercase;
        // @include max-screen(768px){
        //   font-size: 1em;
        // }
        // @include min-portrait(768px){
        //   font-size: 2em; 
        // }
        // @include max-portrait(767px){
        //   font-size: 1.5em; 
        // }       
      }      

  // Тело
    &-body {
      position: relative;            
      padding: $mod-padding-body;
      // @include max-landscape(1024px){
      //   padding: 0.5em 1em 1em;
      // }      
      // @include max-portrait(767px){
      //   padding: 1em;
      // }
    }

  // Подвал
    &-footer {      
      padding: $mod-padding-footer;
      border-top: $mod-border-footer;
      text-align: right;
      // Easily place margin between footer elements
      > :not(:first-child) { margin-left: .25rem; }
      > :not(:last-child) { margin-right: .25rem; }
    }
  
  // Подложка
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $mod-backdrop-color;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $mod-backdrop-opacity; }
  }



.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
  }
}
.modal-header {
  background-color: #4f1952;
}
.modal-form-data {
 position: relative;
 padding-bottom: 10px;
}
.modal-form-data::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 320px;
  height: 1px;
  background: #4f1952;
}
.modal-form {
  margin-bottom: 20px;
  border-bottom: 1px solid $base-white;
}
.form-name {
  width: 200px;
  color: $base-white;
  outline: none;
  border: none;
  background: rgba(102, 33, 106, 0.1);
}
.form-booking {
  position: relative;
  padding: 20px 0;
  margin-left: 40px;
}
.form-booking::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -60px;
  width: 320px;
  height: 1px;
  background: #4f1952;
}
.booking-item {
  padding: 10px 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid $base-white;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 10px 30px 5px 40px;
    cursor: pointer;
    vertical-align: top;
}

input[type="checkbox"]:checked + label::before {
  background: url(../img/icon/w-chekbox.png) no-repeat;
}

.booking-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 320px;
  height: 1px;
  background: #4f1952;
}
.btn-modal-form {
  display: block;
  margin: 0 auto;
  color: $base-white;
  background: $base-gold;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type="data"] {
  display: none;
}
.modal-form-number {
  float: right;
  padding-right: 55px;
  text-align: right;
  position: relative;
  text-align: right;
  border-bottom: 1px solid $base-white;
}
.modal-form-calendar {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid $base-white;
}
.modal-form-calendar::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: url(../img/icon/w-datepicker.png) no-repeat;
}
.modal-form-booking {
  margin-bottom: 20px;
}
// .modal-form-count {
//   padding: 20px 0;
// }
.modal-form-count::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 190px;
  width: 320px;
  height: 1px;
  background: #4f1952;
}

.modal-form-count {
  padding: 20px 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.count-item-num {
  // width: 113px; 
  float: right;
  background: $base-white;
  line-height: 35px;
  margin-left: 20px;
}
.item-num {
  display: inline-block;
  vertical-align: middle;
  background: $base-violet;
  color: $base-white;
  text-align: center;
  width: 55px;
  line-height: 25px;
}
.item-num-min {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: $base-white;
}
.item-num-min::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/icon/w-minus.png) no-repeat;
}
.item-num-max {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: $base-white;
}
.item-num-max::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  top: 33%;
  left: 25%;
  background: url(../img/icon/w-plus.png) no-repeat;
}

.count-item {
  text-align: right;
  padding-bottom: 7px;
}






// .modal-name {
//   display: block;
//   background: $mod-bg-color;
//   border: none;
//   outline: none;

// }
// .modal-desc {
//   display: inline-block;
//   margin-bottom: 20px;
//   border-bottom: 1px solid $base-white;
// }
// .modal-data-name {
//   position: relative;
//   margin-bottom: 50px;
// }
// .modal-data-name::after {
//   content: "";
//   display: block;
//   position: absolute;
//   bottom: -50px;
//   left: 0;
//   width: 100%;
//   height: 1px;
//   background: #4f1952;
// }

// .modal-data-booking {
//   margin-left: 30px;
//   margin-top: 80px;
// }
// .modal-desc-booking {
//   margin-bottom: 20px;
//   display: block;
// }

