.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0; }
  .modal p {
    margin-top: 0; }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform ease-out .3s;
    transition: -webkit-transform ease-out .3s;
    -o-transition: transform ease-out .3s;
    transition: transform ease-out .3s;
    transition: transform ease-out .3s, -webkit-transform ease-out .3s;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%); }
  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .modal-tbl {
    display: table;
    width: 100%;
    height: 95%; }
  .modal-dialog {
    position: relative;
    width: auto;
    padding: 2em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-width: 100vw; }
    @media only screen and (max-width: 320px) {
      .modal-dialog {
        padding: 0; } }
  .modal-content {
    position: relative;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    background-color: rgba(102, 33, 106, 0.95);
    background-clip: padding-box;
    border: none;
    -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    outline: 0;
    width: 320px; }
  .modal .close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-size: 1.5em;
    line-height: 1em;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    .modal .close span {
      display: inline-block;
      font-family: 'Tahoma', sans-serif;
      font-weight: 300;
      line-height: 1px; }
    .modal .close:hover {
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .modal-header {
    color: #fff;
    padding: 20px;
    border-bottom: none;
    position: relative; }
  .modal-title {
    margin: 0;
    line-height: 1em;
    font-size: 20px;
    text-transform: uppercase; }
  .modal-body {
    position: relative;
    padding: 20px; }
  .modal-footer {
    padding: 20px;
    border-top: none;
    text-align: right; }
    .modal-footer > :not(:first-child) {
      margin-left: .25rem; }
    .modal-footer > :not(:last-child) {
      margin-right: .25rem; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #66216a; }
    .modal-backdrop.fade {
      opacity: 0; }
    .modal-backdrop.show {
      opacity: 0.7; }
  .modal .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }
  .modal .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll; }
