* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.42;
	color: $base-white;	
}
body {
	min-width: 1170px;
	margin: 0;
	background: $base-bg;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $base-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.wrapper {
    min-height: 800px;

    min-width: 320px;
    width: auto;

    position: relative;
    overflow: hidden;
    height: 100%;
}
// .clearfix::after {
// 	content: "";
// 	display: block;
// 	clear: both;
// }
.container {
//	position: relative;
//	height: 100%;
	width: 1170px;
	margin: 0 auto;
}