
.page-content-turist {
	bottom: 50px;
}

.page-description-height {
	min-height: 320px;
	background-position: 50% 50%;
}



.within-content-biznes {
	bottom: -20%;
}


.page-description-biznes.overflow .page-content {
	top: -266px;
}