.top-menu {
	// position: absolute;
	// top: 0;
	// width: 100%;
	// display: flex;
	min-height: 110px;
	padding: 30px 0;
	background: rgba(95, 37, 95, 0.702);
}
.top-menu__list {
	// display: flex;
 	// justify-content: flex-start;
 	// width: 40%;
	position: absolute;
 	left: 0%;
    padding-left: 20px;
}
.top-menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}
.top-menu__link {
	display: block;
}
.a-icon {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    border: 2px solid $base-white;
    background-repeat: no-repeat;
    background-position: center;
}
.a-icon:hover {
	border-color: $base-violet;
	background: $base-violet;
}
.a-icon_menu {
	background: url("../img/icon/spritesheet.png")no-repeat;
	background-position: -2px 1px;
}
.logo {
	position: absolute;
	left: 50%;
	right: 50%;
	width: 76px;
	height: 49px;
	background: url("../img/icon/spritesheet.png") no-repeat;
	background-position: -10px -123px;
}
// .logo__pic {
// 	width: 76px;
// 	height: 49px;
// }

.top-menu__pic {
	display: inline-block;
 	vertical-align: middle;
 	opacity: 0.5;
 	width: 360px;
}

.top-contacts {
	position: absolute;
	right: 0;
	font-size: 30px;
	padding-right: 30px;
}
.contacts {
	display: inline-block;
	vertical-align: middle;
}

.fa-phone {
	font-size: 30px;
	color: $base-gold;
}
.fa-phone:hover {
	color: $base-gold;
}
// .top-contacts__tel {
// 	margin-left: 20px;
// }
.a-modal {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
}
.check-in {
	position: relative;
	display: inline-block;
	vertical-align: middle;
    padding: 0px 25px;
    border: 2px solid $base-white;
    border-radius: 60px;
}
.check-in::before {
	content: "";
	display: inline-block;
	width: 31px;
    height: 20px;
    background: url("../img/icon/spritesheet.png")no-repeat;
    background-position: -10px -47px;
    margin-right: 10px;
    padding: 0 10px;
}

.check-in::after {
	content: "";
    display: inline-block;
    width: 31px;
    height: 100%;
    border-right: 2px solid $base-white;
    left: 15%;
    position: absolute;
}

.socials {
	position: absolute;
    top: 100%;
    right: 2%;
    z-index: 2; 
}
.social__list {
    padding: 4px;
}

.social__item {
    margin-bottom: 9px;
}
.ancors {
    position: absolute;
    top: 110px;
    left: 2%;
    z-index: 2;
}
.ancors__list {
    padding: 4px;
}
.ancors__item {
    margin-bottom: 9px;
}
.ancors__link {
    color: $base-white;
    text-decoration: none;
}
// .a-icon_home {
// 	background: url("../img/icon/spritesheet.png") no-repeat;
// }