.top-menu {
	display: flex;
    align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 105px;
	padding: 30px 0;
	background: rgba(95, 37, 95, 0.702);
}
.top-menu__list {
	position: absolute;
 	left: 0%;
    padding-left: 30px;
}
.top-menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.a-icon {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    margin-right: 18px;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    border: 2px solid $base-white;
    background-repeat: no-repeat;
    background-position: center;
}
.a-icon:hover {
	border-color: $base-violet;
	background: $base-violet;
    transition: background .3s;
}
.a-icon_menu {
	background: url("../img/icon/spritesheet.png")no-repeat;
	background-position: -2px 1px;
}
.a-icon_menu:hover {
	background: $base-violet url("../img/icon/spritesheet.png")no-repeat;
	background-position: -2px 1px;
}
.logo {
	width: 228px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.logo__pic {
	width: 228px;
	height: 63px;
}

.logo-page {
	width: 144px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.logo__pic-page {
	width: 144px;
	height: 73px;
}

.top-menu__pic {
	display: inline-block;
 	vertical-align: middle;
 	opacity: 0.5;
}

.top-contacts {
	position: absolute;
	right: 0;
	font-size: 30px;
	padding-right: 30px;
}
.contacts {
	display: inline-block;
	vertical-align: middle;
}

.fa-phone {
	font-size: 30px;
	color: $base-gold;
}
.fa-phone:hover {
	color: $base-gold;
}
.a-modal {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
}
.a-modal:hover .check-in {
    border-color: $base-gold;
}
.a-modal:hover .check-in::after {
    border-right: 2px solid $base-gold;
}
.check-in {
	position: relative;
	display: inline-block;
	vertical-align: middle;
    padding: 0px 25px;
    border: 2px solid $base-white;
    border-radius: 60px;
}
.check-in::before {
	content: "";
	display: inline-block;
	width: 31px;
    height: 20px;
    background: url("../img/icon/spritesheet.png")no-repeat;
    background-position: -10px -47px;
    margin-right: 10px;
    padding: 0 10px;
}

.check-in::after {
	content: "";
    display: inline-block;
    width: 31px;
    height: 100%;
    border-right: 2px solid $base-white;
    left: 15%;
    position: absolute;
}

.socials {
	position: absolute;
    top: 130px;
    right: 2%;
    z-index: 2; 
}
.social__list {
    padding: 4px;
}

.social__item {
    margin-bottom: 9px;
}
.ancors {
    position: absolute;
    top: 130px;
    left: 2%;
    z-index: 2;
}
.ancors__list {
    padding: 4px;
}
.ancors__item {
    margin-bottom: 9px;
}
.ancors__link {
    color: $base-white;
    text-decoration: none;
}
