.home {
	background: url("../img/bg/bg.jpg") no-repeat center center;
	background-size: cover;
	height: 100%;
    width: 100%;
    min-width: 320px;
}
.logo-title {
	display: block;
	margin: 0 auto;
	margin-top: 198px;
	width: 626px;
	height: 370px;
}

.features {
    display: flex;
    justify-content: space-between;
    bottom: 0%;
    position: absolute;
}
.features__link {
    cursor: pointer;
    text-decoration: none;
}

.features__header {
	height: 109px;
    padding-top: 33px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}
.features__number {
	position: relative;
}
.features-item {
	width: 495px;
	height: 266px;
	padding: 0 15px;
	background: none;
	border-bottom: 3px solid $base-gold;
	margin-bottom: 20px;
}
.features__link:hover .features-item {
	background: url("../img/content/family.jpg") no-repeat center center;
}
.b-icon {
	margin-right: 18px;
}
.features__link:hover .b-icon {
	border-color: $base-violet;
	color: $base-violet;
}
.features__link:hover .features__number {
	color: $base-violet;
}
.features-item__title {
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;
}
.features-item__desc {
	font-style: italic;
	font-size: 18px;
	margin-bottom: 30px;
}


