.home {
	background: url("../img/bg/bg.jpg") no-repeat center center;
	background-size: cover;
	height: 100%;
    width: 100%;
    // min-width: 320px;
}
.logo-title {
	display: block;
	margin: 0 auto;
	margin-top: 198px;
	width: 626px;
	height: 370px;
}