.page {
	// height: 100%;
	min-height: 800px;
	// min-width: 1170px;
 	// width: 100%;
	background: url(../img/bg/stadion.jpg) no-repeat center center;
	background-size: cover;
}
.page-title {
	position: absolute;
	margin: 295px auto;
    width: 100%;
    text-align: center;
	color: $base-white;
	font-size: 60px;
	text-transform: uppercase;
}

.page-description {      
    background: url(../img/bg/page-desc-bg.jpg) no-repeat bottom center;
    background-size: 100%;
    color: $font-side;  
}

 .page-content {
 	width: 779px;
 	background: rgba(250, 250, 250, 0.65);
 	padding: 40px;
}

.page-description .page-content_overflow {
    position: relative;
    margin-bottom: -150px;
    top: -250px;
}


// .page-description {
// 	position: relative;
// 	width: 100%;
// 	min-height: 395px;
// 	background: url(../img/bg/page-desc-bg.jpg) no-repeat top center;
// 	background-size: cover;
// 	color: $font-side;
// }
// .page-content {
// 	width: 779px;
// 	position: absolute;
// 	background: rgba(250, 250, 250, 0.65);
// 	padding: 40px;
// 	margin-top: -255px;
// }

// .fans {
// 	position: relative;
// 	width: 100%;
// 	min-height: 718px;
// 	background: url(../img/content/fan.jpg) no-repeat center center;
// 	background-size: cover;
// }

// .fans-content {
// 	position: absolute;
// 	z-index: 2;
// 	width: 780px;
// 	min-height: 227px;
// 	background: rgba(95, 37, 95, 0.8);
// 	padding: 50px 40px;
// 	color: $base-white;
// 	font-size: 18px;
// 	margin-left: 30%;
//     margin-top: -10%;
// }


// .fk {
// 	background: url(../img/content/fk.jpg) no-repeat center center;
// 	background-size: cover;
// 	border-bottom: none;
// }
// .page-description-fk {
// 	min-height: 185px;
// }

// .club {
// 	background: url(../img/content/club.jpg) no-repeat center center;
// 	background-size: cover;
// 	border: none;
// }
// .page-description-club {
// 	min-height: 325px;
// }
// .fitnes {
// 	background: url(../img/content/fitnes.jpg) no-repeat center center;
// 	background-size: cover;
// 	border-bottom: none;
// }
// .fans-content__fitnes {
// 	margin-top: 15%;
// 	margin-left: 25%;
// }

