.page {
	position: relative;
	z-index: 2;
	min-height: 800px;
	background: url(../img/bg/stadion.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.page::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.page-title {
	position: absolute;
	margin: 295px auto;
    width: 100%;
    text-align: center;
	color: $base-white;
	font-size: 60px;
	text-transform: uppercase;
}

.page-description {
 	position: relative;        
    background: url(../img/bg/page-desc-bg.jpg) no-repeat center center;
    // background: url(../img/bg/page-desc-bg.jpg) no-repeat bottom center;
    background-size: cover;
    // background-size: 100%;
    color: $font-side;  
}

.page-description .page-content {
	width: 779px;
 	background: rgba(250, 250, 250, 0.65);
 	padding: 40px;
 	z-index: 3;
}

.page-description.overflow .page-content {
 	position: relative;
    margin-bottom: -150px;
    top: -250px;
}
.map {
	position: relative;
}
.within-content {
	position: absolute;
	bottom: -7%;
    left: 30%;
	z-index: 2;
	width: 780px;
	background: rgba(95, 37, 95, 0.8);
	padding: 50px 40px;
	color: $base-white;
	font-size: 18px;
}
.block-picture {
	position: relative;
	width: 100%;
	min-height: 720px;
	background-size: cover;
	background-position: 50% 50%;
}
.block-picture::after {
	content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.picture-1 {
	background: url(../img/content/fan.jpg) no-repeat;
}
.picture-2 {
	background: url(../img/content/fk.jpg) no-repeat;
}
.picture-3 {
	background: url(../img/content/club.jpg) no-repeat;
}
.picture-4 {
	background: url(../img/content/fitnes.jpg) no-repeat;
}
.within-content-last {
	bottom: 55%;
}


