.page {
	background: url(../img/bg/bg-page.jpg) no-repeat center center;
	background-size: cover;
}
.logo-page {
	background: url("../img/content/logo-page.png") no-repeat;
	width: 144px;
	height: 73px;
}