.o-sidebar {
    position: fixed;
    left: -485px;
    top: 0;
    z-index: 505;
    width: 485px;
    height: 100%;
    overflow: scroll;
    transition: left .8s;
    will-change: left;
}
body.fixed .o-sidebar {
	left: 0;
}
.sidebar-logo__pic {
	width: 76px;
	height: auto;	
}
.sidebar__list {
	background: $base-violet;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px;
}
.sidebar-features__header {
	background: $base-white;
	color: $font-side;
	font-size: 20px;
	padding: 20px;
}
.c-icon {
	background: $base-white;
	border: 2px solid $base-violet;
	color: $base-violet;
}
.sidebar-features:hover .c-icon {
	background: $base-violet;
	// border: none;
	color: $base-white;
	transition: .3s;
}
.side-item {
	background: url("../img/content/family.jpg") no-repeat center center;
	background-size: cover;
	padding: 0 20px;
}

.sidebar-features:nth-child(1) .side-item{ background: url("../img/marsh/1.jpg")  no-repeat 50% 50%; }
.sidebar-features:nth-child(2) .side-item{ background: url("../img/marsh/2.jpg")  no-repeat 50% 50%; }
.sidebar-features:nth-child(3) .side-item{ background: url("../img/marsh/3.jpg")  no-repeat 50% 50%; }
.sidebar-features:nth-child(4) .side-item{ background: url("../img/marsh/4.jpg")  no-repeat 50% 50%; }

.sidebar-item__title {
	text-transform: uppercase;
    font-size: 30px;
}
.sidebar-features:hover .features__more {
	background: $base-violet;
	border-color: $base-violet;
	transition: .3s;
}

.sidebar-features:hover .features__more::before  {
	display: none;
}
.a-icon_close {
    background: url(../img/icon/spritesheet.png) no-repeat;
    background-position: 2px -76px;
    border: 2px solid $base-white;
    margin-right: 10px;
}
.a-icon_close:hover {
	border: 2px solid $base-white;
	background: url(../img/icon/spritesheet.png) no-repeat;
    background-position: 2px -76px;
}

