.o-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 485px;
    height: 100%;
    overflow: scroll;
    display: none;
}
.sidebar-logo__pic {
	width: 76px;
	height: 49px;	
}
.sidebar__list {
	background: $base-violet;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}
.sidebar-features__header {
	background: $base-white;
	color: $font-side;
	font-size: 20px;
	padding: 20px;
}
.c-icon {
	background: $base-white;
	border: 2px solid $base-violet;
	color: $base-violet;
}
.sidebar-features:hover .c-icon {
	background: $base-violet;
	border: none;
	color: $base-white;
}
.side-item {
	background: url("../img/content/family.jpg") no-repeat center center;
	background-size: cover;
	padding: 43px 43px 0 43px;
}
.sidebar-item__title {
	text-transform: uppercase;
    font-size: 30px;
}
.sidebar-features:hover .features__more {
	background: $base-violet;
	border-color: $base-violet;
}
// .sidebar-features:hover .sidebar-item__title {
// 	color: $base-violet;
// }

.sidebar-features:hover .features__more::before  {
	display: none;
}
.a-icon_close {
    background: url(../img/icon/spritesheet.png) no-repeat;
    background-position: 2px -76px;
    border: 2px solid $base-white;
    margin-right: 10px;
}
.a-icon_close:hover {
		border: 2px solid $base-white;
	  background: url(../img/icon/spritesheet.png) no-repeat;
    background-position: 2px -76px;
}

